<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Meu Primeiro Portal String Boot</h1>
        <p>MVC:</p>
        <p>Model é o modelo dos objetos, View são as telas (exibida para os usuários) e o Controller, é onde acontece gerenciamento de dados da aplicação.</p>
        <a href="/portal" >Página Inicial</a>
        <a href="/servicos" >Serviços</a>
        <a href="/contato" >Contato</a>
        
    </body>
</html>
